@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,600,700);#materials {
  background-color: white;
}

#materials .material {
  padding: 20px;
  font-family: Raleway;
  font-size: 2rem;
  text-align: center;
}

#goals {
  background-color: #fed136;
}

#goals .goal {
  padding: 20px;
  text-align: center;
}

header.op1 {
  background: url("/images/backgrounds/a-woman-has-her-arms-lifted-out-in-praise_rXPERC-eR.jpg") bottom left no-repeat;
  background-size: cover;
}

header.op2 {
  background: url("/images/backgrounds/a-woman-holds-out-her-hands-in-praise_HX2yACZxR.jpg") bottom center no-repeat;
  background-size: cover;
}

header.op3 {
  background: url("/images/backgrounds/a-woman-stands-in-front-of-a-large-bible_rmM60beC.jpg") bottom center no-repeat;
  background-size: cover;
}

header.op4 {
  background: url("/images/backgrounds/grunge-background_MJPtPXL_.jpg") center center no-repeat;
  background-size: cover;
}

header.op5 {
  background: url("/images/backgrounds/teenage-friends-spending-time-together-at-tree_rYxFZDCBo.jpg") bottom center no-repeat;
  background-size: cover;
}

header.op6 {
  background: url("/images/backgrounds/teenage-friends-spending-time-together_HFbF-DCSj.jpg") top center no-repeat;
  background-size: cover;
}

header.op7 {
  background: url("/images/backgrounds/teenage-friends-spending-time-together_HYieQVUASo.jpg") top center no-repeat;
  background-size: cover;
}

header.op8 {
  background: url("/images/backgrounds/teenage-friends-spending-time-together_rFX_gPAri.jpg") bottom center no-repeat;
  background-size: cover;
}

header.op9 {
  background: url("/images/backgrounds/teenage-friends-spending-time-together_rY0rLvArs.jpg") bottom center no-repeat;
  background-size: cover;
}

header.op10 {
  background: url("/images/backgrounds/teenage-friends-spending-time-together_SKZlFLwCHs.jpg") center center no-repeat;
  background-size: cover;
}

header.op11 {
  background: url("/images/backgrounds/woman-raising-her-arms-at-sunrise_rQxYnAWlC.jpg") top center no-repeat;
  background-size: cover;
}

#gallery .thumbnail .caption {
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#gallery .thumb-image {
  height: 120px;
  background-size: cover !important;
}