
.full-height {
  height: 100vh;
}
.card-blue1, .card-blue1 .card-header{
  background-color: $blue1;
}
.card-blue2, .card-blue2 .card-header{
  background-color: $blue2;
}
.card-blue2-trans, .card-blue2-trans .card-header{
  background-color: $blue2-trans;
}
.card-red1, .card-red1 .card-header{
  background-color: $red1;
}
.card-red1-trans, .card-red1-trans .card-header{
  background-color: $red1-trans;
}
.card-orange1, .card-orange1 .card-header{
  background-color: $orange1;
}
.card-orange2, .card-orange2 .card-header{
  background-color: $orange2;
}
.card-orange2-trans, .card-orange2-trans .card-header{
  background-color: $orange2-trans;
}
.card-pink1, .card-pink1 .card-header{
  background-color: $pink1;
}
.card-pink1-trans, .card-pink1-trans .card-header{
  background-color: $pink1-trans;
}
